html {
	min-height: 100%;
}
body {
	background: url(../images/diagonalTexture.png), #544B4B;
	margin: 0;
	font-family:  trebuchet MS;
	font-size: 16px;
	line-height: 24px;
}

#wrap {
	width:  1024px;
	margin:  0 auto;

}
#about {
	color: #544B4B;
	width:  246px;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
}

#logo {
	background-image: url(../images/logo.png);
	height: 38px;
	width: 172px;
	margin:  20px auto;
}

#about p {
	border-top: 4px double #eee;
	margin: 20px;
	padding-top: 20px;
}

#nav {
	list-style-type: none;
	padding:0;
	font-size: 16px;
}
#nav li {
	display: block;
	padding: 15px 20px;
}

#nav li.active{
	display: block;
	border-top: 1px solid #777;
	border-bottom: 1px solid white;
	background:#9b9b9b;
}

.active a{
  color: #fff;
}

#content {
  float:right;
	padding: 85px 20px 0;
	height: 100%;
	width: 728px;
}

h1 {
	margin: 0;
}

h1 {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #fff;
  display:none;
}

h2 {
	margin-top:  -28px;
	font-weight: lighter;
	margin-bottom: 0;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
}

.section h2{
  margin-top: -73px;
  margin-bottom: 60px;
  font-size: 40px;
}

h3{
  margin-left: -20px;
  margin-top: 20px;
  border-left: 3px solid #cf4e1f;
  padding: 5px 5px;
  color: #cf4e1f;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
}

a {
  color: #2D5987;
  text-decoration: none;
}

.button {
   border-top: 1px solid #e3742b;
   background: #b13027;
   background: -webkit-gradient(linear, left top, left bottom, from(#cf4e1f), to(#b13027));
   background: -webkit-linear-gradient(top, #cf4e1f, #b13027);
   background: -moz-linear-gradient(top, #cf4e1f, #b13027);
   background: -ms-linear-gradient(top, #cf4e1f, #b13027);
   background: -o-linear-gradient(top, #cf4e1f, #b13027);
   display: block;
   padding: 12px 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,0.4) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,0.4) 0 1px 0;
   box-shadow: rgba(0,0,0,0.4) 0 1px 0;
   text-shadow: rgba(0,0,0,0.2) 0 -1px 0;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   margin: 20px;
   font-size: 16px;
   }
.button:hover {
   border-top-color: #b13027;
   background: #cf4e1f;
   color: #ffffff;
   cursor: pointer;
   }
.button:active {
   border-top-color: #d1661e;
   background: #d1661e;
   }

.button + small {
  color: #b13027;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -18px;
}

.section {
  color: #544B4B;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
	float: left;
	width: 668px;
	padding: 30px;
	margin-bottom:65px;
}

.section p {
  padding:0;
    font-size:11pt;
    color: white;
}



/* TUTORIAL */
/****************************************************************************/

#output {
 	height: 433px;
 	width:  608px;
 	background-image: url(../images/outputScreen.png);
 	margin:  0 auto;
 	margin-bottom: 20px;
 }

 #instructions {
   padding: 30px 0;
   overflow: auto;
 }

 .step {
 	background: rgba(255, 255, 255, 0.7);
 	padding: 10px;
 	margin: 0 20px 0 0;
 	float:  left;
 	opacity: .5;
 	position: relative;
 }

 .step.active {
 	opacity: 1;
 }


/* TABS */
/****************************************************************************/

#tabsView {
}

#tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 0;
}

#tabs li {
    margin: 0;
    float: left;
}

#tabs a {
    background: rgba(0,0,0,0.4);
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    -moz-box-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    box-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #ccc;
    float: left;
    height: 35px;
    padding: 10px 30px 5px;
    text-decoration: none;
}

#tabs a:hover {
    background: rgba(0,0,0,0.6);
}

#tabs a:focus
{
    outline: 0;
}

#tabs #current a {
    background: #b13027;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf4e1f), to(#b13027));
    background: -webkit-linear-gradient(top, #cf4e1f, #b13027);
    background: -moz-linear-gradient(top, #cf4e1f, #b13027);
    background: -ms-linear-gradient(top, #cf4e1f, #b13027);
    background: -o-linear-gradient(top, #cf4e1f, #b13027);
    text-shadow: none;
    color: #fff ;
    border-top: 1px solid #E3742B;
}

#editorHead {
    background: #b13027;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    height:12px;
    margin-top: -12px;
    z-index: 2;
    position: relative;
}

.syntaxhighlighter {
  padding: 1em 0;
}
