<h2>{{name_value}}</h2>
<p>
    <img src="{{ kapakUrl }}" alt="kapak imaj" width="344" height="483"/>
</p>

<form action="/admin/edit/{{ issueName }}/" method="post" enctype="multipart/form-data">
    <p>

    <h3>Cover Image:</h3>
    <div><input type="file" name="img"/></div>
    <div><input type="file" name="img2"/></div>
    <div><input type="file" name="img3"/></div>

    <div class="hint">Cover images for city detail.Cannot be "None".</div>

    <h3>Identifier:</h3> <input name="id" type="text" value="{{id_value}}" />
    <div class="hint">Must match the Product-ID in the iTunesConnect.Cannot be "None".</div>

    <h3>Name:</h3> <input name="name" type="text" value="{{name_value}}" />
    <div  class="hint">Name Displayed on the ipad.</div>

    <h3>Location:</h3>
    <input name="latitude" type="text" value="{{latitude_value}}" />
    <input name="longitude" type="text" value="{{longitude_value}}" />
    <div  class="hint">Location on map! (not geocoordinate!)</div>

    <h3>Price:</h3> <input name="price" type="text" value="{{price_value}}" />
        <div class="hint">If set, will be displayed on the download button. Must match price tier on iTunesConnect.</div>

        <h3>Description</h3>
        <textarea name="description" rows="10" cols="60">{{description_value}}</textarea>

        <h3>Environment</h3>
        <input type="radio" name="environment" value="Production" {{isProduction}}/>Production<br/>
        <input type="radio" name="environment" value="Test" {{isTest}}/>Test<br/>
    <div class="hint">Issues tagged as "Test" will only appear in the test devices. </div>

    <br />
        <input type="checkbox" name="current" value="current" {{isCurrent}} />Current Issue <br />
        <div class="hint">Only one issue can be tagged as current. </div>
    </p>
    <p><input type="submit" value="Done"></p>
</form>

