<html>
<head>
    <link rel=stylesheet href="/css/style.css" />
    <script type="text/javascript " src="/script/jquery.js"></script>

    <script type="text/javascript">

            $(document).ready(function(){
                {% for key in keys %}
                    $("#{{key.secret}}").click(function(){
                        $("#section").load('/admin/edit/{{key.name}}');
                    });
                {% endfor %}
            });
    </script>
 </head>

  <body>
  <div id="wrap">

        <div id="about">
            <div id="logo">&nbsp;</div>
            {% for key in keys %}
                <a   id="{{key.secret}}" class="button" >{{key.name}}</a>
            {% endfor %}
      </div>

      <div id="content">
          <div id="section">
          </div>
      </div>
      


      </div>
  </body>
</html>